# Dependencies
node_modules/
.yarn/
.pnp.*

# Next.js
.next/
out/

# Build
dist/
build/

# Environment
.env
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
